@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

body {
  background-color: #1e1e1e;
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1;
  font-family: 'Roboto', 'Montserrat', sans-serif; }

a {
  color: #fff; }

h1, h2, h3 {
  font-size: 3rem; }

img {
  max-width: 100%;
  height: auto; }

.container {
  background-color: #111;
  border-left: 5px solid #181818;
  border-right: 5px solid #181818;
  padding: 32px; }
  .container .socialMedia {
    float: right; }
    .container .socialMedia a {
      margin-right: 12px; }
      .container .socialMedia a:hover {
        color: #FF7B39; }
  .container .pageTitle {
    margin-bottom: 64px;
    font-size: 4rem; }
  .container .search {
    width: 100%;
    margin-bottom: 48px; }
    .container .search .searchInput {
      background-color: #363636;
      border: 1px solid #fff;
      color: #aaa;
      padding: 8px;
      margin-right: 8px;
      width: 75%; }
      .container .search .searchInput:focus {
        outline: none;
        background-color: #444; }
    .container .search .searchButton {
      border: 2px solid #FF7B39;
      color: #FF7B39;
      padding: 8px;
      margin-right: 8px;
      width: 10%;
      background-color: #333; }
      .container .search .searchButton:hover {
        background-color: #FF7B39;
        color: #fff; }
  .container .artistInfo {
    margin-bottom: 72px; }
    .container .artistInfo .artistInfo-Labels {
      position: absolute;
      bottom: 0;
      padding: 24px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%; }
      .container .artistInfo .artistInfo-Labels div {
        display: inline-block; }
        .container .artistInfo .artistInfo-Labels div:nth-child(2), .container .artistInfo .artistInfo-Labels div:nth-child(3) {
          float: right;
          margin-left: 32px; }
      .container .artistInfo .artistInfo-Labels .artistInfo-Name {
        font-weight: bold;
        font-size: 2.5rem; }
    .container .artistInfo .artistInfo-Image {
      padding-top: 32px;
      margin-bottom: 16px;
      position: relative; }
      .container .artistInfo .artistInfo-Image img {
        width: 100%; }
    .container .artistInfo .follow {
      color: #fff;
      border: none;
      padding: 4px;
      border-radius: 20px;
      width: 15%;
      font-size: 2rem;
      text-align: center;
      cursor: pointer; }
  .container .songPreviews {
    border-bottom: 1px solid #fff; }
    .container .songPreviews .songPreviews-Heading {
      padding-bottom: 48px; }
    .container .songPreviews .songs {
      margin: 8px 0; }
      .container .songPreviews .songs a:hover {
        color: #FF7B39; }
      .container .songPreviews .songs:nth-child(1), .container .songPreviews .songs:nth-child(2) {
        padding-top: 32px; }
  .container .albumImages {
    padding-top: 64px;
    margin-bottom: 32px;
    position: relative; }
    .container .albumImages .albumImages-Title {
      margin-bottom: 16px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 16px;
      width: 80%;
      position: absolute;
      top: 30;
      left: 10; }

/*# sourceMappingURL=main.css.map */
